body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .center-div {
    padding-top: 10%;
  }
  .btn.btn-success {
    padding: 0.4em 2em;
  }
  form {
    padding: 0 3em;
  }
  
  #login.title>span {
    font-size: 0.8em;
  }

  /* #bor{
    background-color: black;
    opacity: 0.5;
  } */